<!-- <div class="card-box">
  <div class="card-image">
  </div>
  <div class="col-sm-12">
    <div class="card-bottom">
      <div class="card-title">
        <h2>Teste</h2>
      </div>
    </div>

    <div class="card-price">R$ 25</div>
    <div class="card-description">Teste de descrição</div>
    <div class="card-cart-add"></div>
  </div>


</div> -->


<div class="card">
  <div class="image">
    <img src="https://unsplash.it/640/480/?random" width="100%">
  </div>
  <div class="text">
    <!--<div class="fab">&#43;</div>-->
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h6>Teste</h6>
        </div>
      </div>
      <div class="col-md-6">
        <div class="price">
          <h4>R$ 25</h4>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="description">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.
          Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis
          quis leo.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="add">
      Add to cart
    </div>
  </div>
</div>
