<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-sm-6 col-lg-4 offset-sm-4 offset-lg-4">
          <div class="card card-inverse card-primary">
            <div class="card-block pb0 text-center">
              <p class="lead"> Saldo atual: </p>
              <h2 class="mb-0"> R$ {{dashboard.Saldo}} </h2>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card card-inverse card-success">
            <div class="card-block pb0 text-center">
              <p class="lead"> Pedidos pendentes </p>
              <h2 class="mb-0"> {{dashboard.PedidoPendentes}} </h2>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="card card-inverse card-warning">
            <div class="card-block pb0 text-center">
              <p class="lead"> Pedidos feitos no total </p>
              <h2 class="mb-0"> {{dashboard.PedidosTotais}} </h2>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="card card-inverse card-danger">
            <div class="card-block pb0 text-center">
              <p class="lead"> Pedidos cancelados </p>
              <h2 class="mb-0"> {{dashboard.PedidosCancelados}} </h2>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-sm-4 col-lg-4">

                    <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>

                </div>
                <div class="col-sm-8 col-lg-8">
                  <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
