    /*
    Flaticon icon font: Flaticon
    Creation date: 21/06/2017 09:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-previous:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-debit-card:before { content: "\f103"; }
.flaticon-cashier:before { content: "\f104"; }
.flaticon-cancel:before { content: "\f105"; }
.flaticon-pencil:before { content: "\f106"; }
.flaticon-trash:before { content: "\f107"; }
.flaticon-left-arrow:before { content: "\f108"; }
.flaticon-box:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-shop:before { content: "\f10b"; }
.flaticon-edit:before { content: "\f10c"; }
.flaticon-settings:before { content: "\f10d"; }
.flaticon-shopping-cart:before { content: "\f10e"; }
.flaticon-delivery-truck:before { content: "\f10f"; }
    
    $font-Flaticon-previous: "\f100";
    $font-Flaticon-add: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-debit-card: "\f103";
    $font-Flaticon-cashier: "\f104";
    $font-Flaticon-cancel: "\f105";
    $font-Flaticon-pencil: "\f106";
    $font-Flaticon-trash: "\f107";
    $font-Flaticon-left-arrow: "\f108";
    $font-Flaticon-box: "\f109";
    $font-Flaticon-search: "\f10a";
    $font-Flaticon-shop: "\f10b";
    $font-Flaticon-edit: "\f10c";
    $font-Flaticon-settings: "\f10d";
    $font-Flaticon-shopping-cart: "\f10e";
    $font-Flaticon-delivery-truck: "\f10f";