<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <form class="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <fieldset [disabled]="isLogging">
          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
            <input id="user-input" type="email" class="form-control" name="email" [(ngModel)]="user.email"
              #email="ngModel" placeholder="Email" required>
            <div *ngIf="f.submitted && !email.valid" class="form-control-feedback">É necessário digitar o email</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
            <input id="pwd-input" type="password" class="form-control" name="password" [(ngModel)]="user.password"
              #password="ngModel" placeholder="Senha" required>
            <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">É necessário digitar a senha</div>
          </div>
          <p><small>não é cadastrado ainda? <a [routerLink]="['/register']"> cadastre-se aqui </a></small></p>
          <button type="submit" class="btn btn-login">
            <div [hidden]="isLogging">Login</div>
            <div [ngClass]="{ 'fa fa-spinner fa-pulse fa-fw': isLogging} "></div>
          </button>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="logo-container">
        <img class="logo-landing" src="../../../assets/img/logo.svg" />
      </div>
    </div>
  </div>
</div>
