<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <form class="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <fieldset [disabled]="isLogging">
          <h1 class="center hide-on-med-and-down">Bem vindo ao Orderer</h1>
          <img class="hide-on-med-and-up" src="../../../assets/img/logo.svg" style="width: 100%;" />
          <h2 class="center flow-text">App para cantina online</h2>
          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
            <input id="user-input" type="email" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
              placeholder="Usuário" required>
            <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">É necessário digitar o usuário</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
            <input id="pwd-input" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
              placeholder="Senha" required>
            <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">É necessário digitar a senha</div>
          </div>
          <p class="center"><small>Não possui conta ainda?<br><a [routerLink]="['/register']"> cadastre-se aqui </a></small></p>
          <button type="submit" class="btn btn-login">
            <div [hidden]="isLogging">Entrar</div>
            <div [ngClass]="{ 'fa fa-spinner fa-pulse fa-fw': isLogging} "></div>
          </button>
        </fieldset>
      </form>

    </div>
    <div class="col-sm-4 hide-on-med-and-down">
      <div class="logo-container">
        <img class="logo-landing" src="../../../assets/img/logo.svg" />
      </div>
    </div>
  </div>
</div>
