<nav class="hidden-sm-down sidebar">
  <ul class="nav flex-column">
    <li class="nav-photo">
      <div class="nav-login">
        <a class="no-style" [routerLink]="['settings']" fragment="user"></a>
      </div>            
    </li>
    <li>
      <div class="nav-user">
         {{ user.Nome }} 
      </div>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['dashboard']" > <i class="fa fa-home" aria-hidden="true"></i> Principal </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"[routerLink]="['orders']" > <i class="fa fa-shopping-cart" aria-hidden="true"></i> Pedidos </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"[routerLink]="['products']"><i class="fa fa-cutlery" aria-hidden="true"></i> Produtos </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"[routerLink]="['settings']" > <i class="fa fa-cog" aria-hidden="true"></i> Configurações </a>
    </li>
    <li class="nav-item nav-logout">
      <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair </a>
    </li>
  </ul>
</nav>
