.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
  background-color: #eee;
  box-shadow: 2px 0px 10px 1px #c7c7c7;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-logout {
  line-height: 100%;
}

.sidebar .nav-link {
  border-radius: 0;
  cursor: pointer;
  color: #f9bf7d;
}

.sidebar .nav-item a.nav-link:hover{
  background-color: #99ed8d !important;
  color: #fff;
}

.sidebar .nav-item a.nav-link.active{
  background-color: #f9bf7d !important;
  color: #fff;
}

.sidebar .nav-login {
  width: 200px;
  height: 200px;
  background-image: url("../../../assets/img/user.jpg");
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
}
