
.form-group {
    padding: 10px;
}

.input-file {
    border: 1px solid #ccc;
    padding: 2px;
    width: 100%;
}

.col-form-label {
    font-weight: 600;
    vertical-align: middle;
}

.btn-flat {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #99ED8D;
    border-radius: 0px;
    border: 0px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
}

