<div class="container-fluid page">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="form-box">
        <form role="form" class="registration-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

          <!--  STEP 1 -->
          <fieldset *ngIf="step == 1" class="form-styles">
            <div class="form-top">
              <div class="form-top-left">
                <h3>CADASTRO</h3>
                <p>Nos diga como quer ser chamado:</p>
              </div>
            </div>
            <div class="form-bottom">
              <div class="form-group" [ngClass]="{'has-danger': username.errors && (username.dirty || username.touched)}">
                <label class="sr-only" for="form-user">Usuário</label>
                <input type="text" name="form-user" placeholder="Usuário" class="form-inputs form-control" id="form-user" [(ngModel)]="model.username"
                  #username="ngModel" minlength="6" maxlength="10" required>
                <div *ngIf="username.errors && (username.dirty || username.touched)" class="form-control-feedback">
                  <div [hidden]="!username.errors.required">
                    É necessário digitar o usuário
                  </div>
                  <div [hidden]="!username.errors.minlength">
                    Usuário tem que ter no mínimo 6 caracteres :)
                  </div>
                  <div [hidden]="!username.errors.maxlength">
                    O usuário não pode ser tão longo. Desculpa :(
                  </div>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': password.errors && (password.dirty || password.touched)}">
                <label class="sr-only" for="form-password">Senha</label>
                <input type="password" name="form-password" placeholder="Senha" class="form-inputs form-control" id="form-password" [(ngModel)]="model.password"
                  #password="ngModel" minlength="6" maxlength="10" required>

                <div *ngIf="password.errors && (password.dirty || password.touched)" class="form-control-feedback">
                  <div [hidden]="!password.errors.required">
                    Digite uma senha. Para sua segurança :)
                  </div>
                  <div [hidden]="!password.errors.minlength">
                    A senha tem que ter no mínimo 6 caracteres. Ninguém quer uma senha fácil, não é mesmo?
                  </div>
                  <div [hidden]="!password.errors.maxlength">
                    Senha não pode ter mais do que 10 caracteres
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="sr-only" for="form-confirm-password">Confirme a senha</label>
                <input type="password" name="form-confirm-password" placeholder="Confirme a senha" class="form-inputs form-control" id="form-confirm-password"
                  [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" minlength="6" maxlength="10" required>

                <div *ngIf="confirmpassword.errors != model.password" class="form-control-feedback">
                  <div [hidden]="confirmpassword != model.password">
                    As senhas não conferem
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-step" (click)="previous()">< Voltar</button>
              <button type="button" class="btn btn-step" (click)="next()" [disabled]="!f.form.valid && (model.password != model.confirmpassword)">Próximo ></button>

            </div>
          </fieldset>

          <!-- STEP 2 -->
          <fieldset *ngIf="step == 2" class="form-styles">
            <div class="form-top">
              <div class="form-top-left">
                <h3>INFORMAÇÕES</h3>
                <p>Digite algumas informações para que possamos lhe conhecer melhor:</p>
              </div>
            </div>
            <div class="form-bottom">
              <div class="form-group">
                <label class="sr-only" for="form-email">Email</label>
                <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-repeat-password">Repeat password</label>
                <input type="password" name="form-repeat-password" placeholder="Repeat password..." class="form-repeat-password form-control"
                  id="form-repeat-password">
              </div>
              <button type="button" class="btn btn-step" (click)="previous()">< Voltar</button>
              <button type="button" class="btn btn-step" (click)="next()">Próximo ></button>
            </div>
          </fieldset>

          <fieldset *ngIf="step == 3 && registerBillingInfo == false" class="form-styles">
            <h3> Deseja cadastrar um método de pagamento ? </h3>
            <p> Você precisa de um método de pagamento para poder colocar créditos na sua conta. Mas não se preocupe, você também
              pode colocar depois.
            </p>
            <button type="button" class="btn btn-step" (click)="registerBillingInfo = true"> Sim </button>
            <button type="button" class="btn btn-step" (click)="register()"> Não </button>
          </fieldset>

          <!-- STEP 3 -->
          <fieldset *ngIf="step == 3 && registerBillingInfo == true" class="form-styles">
            <div class="form-top">
              <div class="form-top-left">
                <h3>MÉTODOS DE PAGAMENTO</h3>
                <p>Adicione um método de pagamento padrão, que será utilizado para comprar créditos:</p>
              </div>
            </div>
            <div class="form-bottom">
              <label>
                <input type="radio" name="pagamento" value="small" [(ngModel)]="model.payment" value="1" [checked]="model.payment == 1 ? 'true' : 'false'"/>
                <img src="../../../assets/img/bandeiras.png" class="payment-method-img img-fluid img-thumbnail" alt="Bandeiras">
              </label>
              <label>
                <input type="radio" name="pagamento" value="small" [(ngModel)]="model.payment" value="2"/>
                <img src="../../../assets/img/pagseguro.png" class="payment-method-img img-fluid img-thumbnail" alt="PagSeguro">
              </label>
              

              <div class="form-group" *ngIf="model.payment==1">
                <label class="sr-only" for="form-card">Digite o número do cartão </label>
                <input type="text" name="form-card" placeholder="Número do cartão" class="form-control" id="form-card">
              </div>
              <button type="button" class="btn btn-step" (click)="previous()">< Voltar</button>
              <button type="submit" class="btn btn-finish" (click)="next()">Finalizar</button>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
